<% layout('layout') %>

<span id="alerts">
</span>

<form action="/admin" method="post" class="form-register" id="form-register">
    <img class="mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Administration panel</h1>

    <div class="form-group">
      <label for="resolution" class="">Resolution</label>
      <select type="text" id="resolution" class="form-control" required="" autofocus="" name="resolution" value="<%= currentResolution %>">
        <% for(let i = 0; i < resolutions.length; i++) { %>
          <option name="<%= resolutions[i].name %>" value="<%= parseInt(i) %>" <%= i===currentResolution ? 'SELECTED' : '' %>><%= resolutions[i].name %></option>
        <% } %>
      </select>
    </div>
      
    <div class="form-group">
      <label for="allowedPlayerType" class="">Resolution <%=allowedPlayerType%></label>
      <select type="text" id="allowedPlayerType" class="form-control" required="" autofocus="" name="allowedPlayerType">
        <% for(const type in allowedPlayerTypes) { %>
          <option name="<%= type %>" value="<%= allowedPlayerTypes[type] %>" <%= allowedPlayerType===allowedPlayerTypes[type] ? 'SELECTED' : '' %>><%= type %></option>
        <% } %>
      </select>
    </div>

    <!--div class="form-group">
      <label for="inputEmail" class="">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" name="email">
    </div>

    <div class="form-group">
        <label for="inputPassword" class="">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" name="password">
    </div>

    <div class="form-group">
        <label for="inputRepeatPassword" class="">Repeat Password</label>
        <input type="password" id="inputRepeatPassword" class="form-control" placeholder="Repeat Password" required="" name="cpassword">
    </div-->

    <button class="btn btn-lg btn-primary btn-block" type="submit" id="save">Save</button>
  </form>

  <script type="module">
    //import { initRegister } from "/js/register.js";
    //initRegister();
  </script>